.carousel {
  height: 80rem;
  position: relative;
  /* overflow: hidden; */
  margin-top: 5rem;
}
.list {
  position: absolute;
  top: 0;
  width: 114rem;
  max-width: 90%;
  left: 50%;
  height: 80%;
  transform: translateX(-50%);
}

.missionItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
}

.image {
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.detail {
  opacity: 0;
  pointer-events: none;
}
.intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40rem;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .missionItem:nth-child(2) .intro {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

.carousel .list .missionitem:nth-child(n + 6) {
  opacity: 0;
  pointer-events: none;
}
.carousel .list .missionItem:nth-child(2) {
  transform: translate(0, 0);
  filter: blur(0);
  z-index: 10;
  opacity: 1;
}

.carousel .list .missionItem:nth-child(1) {
  transform: translate(-100%, -5%) scale(1.5);
  filter: blur(30px);
  z-index: 11;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .missionItem:nth-child(3) {
  transform: translate(50%, 10%) scale(0.8);
  filter: blur(10px);
  z-index: 9;
  opacity: 1;
}

.carousel .list .missionItem:nth-child(4) {
  transform: translate(90%, 20%) scale(0.5);
  filter: blur(30px);
  z-index: 8;
  opacity: 1;
}
.carousel .list .missionItem:nth-child(5) {
  transform: translate(120%, 30%) scale(0.3);
  filter: blur(40px);
  z-index: 7;
  opacity: 0;
  pointer-events: none;
}
