/* .mission {
  -ms-overflow-style: none; /* IE and Edge */
/* scrollbar-width: none; /* Firefox */

/* Hide scrollbar for IE, Edge and Firefox */
/* .mission::-webkit-scrollbar {
  display: none;
} */
.carousel {
  height: 80rem;
  position: relative;
  /* overflow: hidden; */
  margin-top: 5rem;
}
.list {
  position: absolute;
  top: 0;
  width: 114rem;
  max-width: 90%;
  left: 50%;
  height: 80%;
  transform: translateX(-50%);
}

.missionItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
}

.image {
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.detail {
  opacity: 0;
  pointer-events: none;
}
.intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40rem;
  opacity: 0;
  pointer-events: none;
}

.carousel .list .missionItem:nth-child(2) .intro {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}

.carousel .list .missionitem:nth-child(n + 6) {
  opacity: 0;
  pointer-events: none;
}
.carousel .list .missionItem:nth-child(2) {
  transform: var(--item2-transform);
  filter: var(--item2-filter);
  z-index: var(--item2-z-index);
  opacity: var(--item2-opacity);
}

.carousel .list .missionItem:nth-child(1) {
  transform: var(--item1-transform);
  filter: var(--item1-filter);
  z-index: var(--item1-z-index);
  opacity: var(--item1-opacity);
  pointer-events: none;
}

.carousel .list .missionItem:nth-child(3) {
  transform: var(--item3-transform);
  filter: var(--item3-filter);
  z-index: var(--item3-z-index);
  opacity: var(--item3-opacity);
}

.carousel .list .missionItem:nth-child(4) {
  transform: var(--item4-transform);
  filter: var(--item4-filter);
  z-index: var(--item4-z-index);
  opacity: var(--item4-opacity);
}
.carousel .list .missionItem:nth-child(5) {
  transform: var(--item5-transform);
  filter: var(--item5-filter);
  z-index: var(--item5-z-index);
  opacity: var(--item5-opacity);
  pointer-events: none;
}

.arrowContainer {
  position: absolute;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  bottom: 10%;
}

.carousel.next .list .missionItem:nth-child(2) .intro .title {
  opacity: 0;
  animation: showContent 0.2s 0.3s ease-in-out 1 forwards;
}
.carousel.next .list .missionItem:nth-child(2) .intro .topic {
  opacity: 0;
  animation: showContent 0.3s 0.5s ease-in-out 1 forwards;
}
.carousel.next .list .missionItem:nth-child(2) .intro .description {
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.carousel.next .list .missionItem:nth-child(2) .intro .seeMore {
  opacity: 0;
  animation: showContent 0.7s 0.9s ease-in-out 1 forwards;
}
.carousel.prev .list .missionItem:nth-child(2) .intro .title {
  opacity: 0;
  animation: showContent 0.2s 0.3s ease-in-out 1 forwards;
}
.carousel.prev .list .missionItem:nth-child(2) .intro .topic {
  opacity: 0;
  animation: showContent 0.3s 0.5s ease-in-out 1 forwards;
}
.carousel.prev .list .missionItem:nth-child(2) .intro .description {
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.carousel.prev .list .missionItem:nth-child(2) .intro .seeMore {
  opacity: 0;
  animation: showContent 0.7s 0.9s ease-in-out 1 forwards;
}

@keyframes showContent {
  from {
    tranform: translateY(50px);
    filter: blur(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
    pointer-events: auto;
  }
}

.carousel.next .list .missionItem:nth-child(1) {
  animation: positionItem2 0.5s ease-in-out 1 forwards;
}

@keyframes positionItem2 {
  from {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-z-index);
    opacity: var(--item2-opacity);
  }
}
.carousel.next .list .missionItem:nth-child(2) {
  animation: positionItem3 0.7s ease-in-out 1 forwards;
}
@keyframes positionItem3 {
  from {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-z-index);
    opacity: var(--item3-opacity);
  }
}

.carousel.next .list .missionItem:nth-child(3) {
  animation: positionItem4 0.9s ease-in-out 1 forwards;
}

@keyframes positionItem4 {
  from {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-z-index);
    opacity: var(--item4-opacity);
  }
}

.carousel.next .list .missionItem:nth-child(4) {
  animation: positionItem5 1.1s ease-in-out 1 forwards;
}
@keyframes positionItem5 {
  from {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    z-index: var(--item5-z-index);
    opacity: var(--item5-opacity);
  }
}

.carousel.prev .list .missionItem:nth-child(2) {
  animation: positionItem1 0.5s ease-in-out 1 forwards;
}

@keyframes positionItem1 {
  from {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-z-index);
    opacity: var(--item1-opacity);
  }
}

.carousel.prev .list .missionItem:nth-child(3) {
  animation: positionItem2 0.7s ease-in-out 1 forwards;
}
@keyframes positionItem2 {
  from {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-z-index);
    opacity: var(--item2-opacity);
  }
}

.carousel.prev .list .missionItem:nth-child(4) {
  animation: positionItem3 0.9s ease-in-out 1 forwards;
}

@keyframes positionItem3 {
  from {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-z-index);
    opacity: var(--item3-opacity);
  }
}

.carousel.prev .list .missionItem:nth-child(5) {
  animation: positionItem4 1.1s ease-in-out 1 forwards;
}
@keyframes positionItem4 {
  from {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-z-index);
    opacity: var(--item4-opacity);
  }
}

.carousel .list .missionItem {
  transition:
    left 0.5s,
    opacity 0.5s;
}

.carousel.showDetail .list .missionItem:nth-child(3),
.carousel.showDetail .list .missionItem:nth-child(4) {
  left: 100%;
  opacity: 0;
  pointer-events: none;
}

.carousel.showDetail .list .missionItem:nth-child(2) {
  width: 100%;
}

.carousel.showDetail .list .missionItem:nth-child(2) .intro {
  opacity: 0;
  pointer-events: none;
}

.carousel.showDetail .list .missionItem:nth-child(2) .image {
  transition: right 1.5s;
}
.carousel.showDetail .list .missionItem:nth-child(2) .image {
  right: 60%;
}

.carousel.showDetail .list .missionItem:nth-child(2) .detail {
  opacity: 1;
  pointer-events: auto;
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  text-align: right;
  transform: translateY(-50%);
}

.carousel.showDetail .list .missionItem:nth-child(2) .detail .title,
.carousel.showDetail .list .missionItem:nth-child(2) .detail .description,
.carousel.showDetail .list .missionItem:nth-child(2) .detail .specification,
.carousel.showDetail .list .missionItem:nth-child(2) .detail .buttonInfo {
  opacity: 0;
  animation: showContent 0.5s 1s ease-in-out 1 forwards;
}

.carousel.showDetail .list .missionItem:nth-child(2) .detail .description {
  animation-delay: 1.2s;
}
.carousel.showDetail .list .missionItem:nth-child(2) .detail .specification {
  animation-delay: 1.4s;
}
.carousel.showDetail .list .missionItem:nth-child(2) .detail .buttonInfo {
  animation-delay: 1.6s;
}

.carousel.showDetail .prev {
  font-size: 100rem;
}
.carousel::before {
  width: 50rem;
  height: 30rem;
  content: "";
  background-image: linear-gradient(
    45deg,
    rgba(var(--color-green-1), 1),
    rgba(var(--color-green-2), 1),
    rgba(var(--color-gold-3), 1),
    rgba(var(--color-gold-2), 1),
    rgba(var(--color-green-light), 1)
  );
  filter: blur(150px);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 40%;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  transition: 1s;
}

.carousel.showDetail::before {
  transform: translate(-100%, -50%) rotate(70deg);
}
