.btn__toggle {
  color: $color-light-grey;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  background-color: white;
  border: none;
  cursor: pointer;
}
