h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2rem;
}

p {
  max-width: 70ch;
  font-size: 2rem;
}
