$color-black: #050505;
$color-green-light: #57ffc6;

$color-green-1: rgb(0, 208, 98);
$color-green-2: rgb(0, 156, 74);
$color-green-3: rgb(5, 135, 67);
$color-green-4: #004d24;
$color-green-5: rgb(0, 71, 33);

$color-gold-1: #f6c960;
$color-gold-2: #eaa80c;
$color-gold-3: #c7900a;
$color-gold-4: #b8860c;
$color-gold-5: #ab7b03;

$color-light-grey: #d3d3d3;
