@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: $color-black;
  color: $color-light-grey;
}
