.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

/* TEXT ANIMATION */
.animated-text {
  font-size: 24px;
  font-weight: bold;
  /* Setting up the initial text color */
  color: #000; /* Or any other color */
  /* Necessary to apply the gradient to the text */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Makes the text color transparent so the gradient shows through */
  /* Animation */
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 1s ease;
}

.animated-text:hover {
  background-position: left;
}
