.heading__section {
  // background-image: url('../../assets/backgrounds/bg-image.webp');
  // background-position-x: 20rem;
  // background-size: contain;
  // background-repeat: no-repeat;
}

.grid__wrapper__page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
