.heading__section {
  // background-image: url('../../assets/backgrounds/bg-image.webp');
  // background-position-x: 20rem;
  // background-size: contain;
  // background-repeat: no-repeat;
}

.grid__wrapper__page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.section {
  &--about__me {
    @include gradientBackground(
                    $color-black,
                    $color-black,
                    1,
                    0.8,
                    '../../assets/backgrounds/bg-image-2.webp'
    );
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  &--mission {
    @include gradientBackground(
                    $color-black,
                    $color-black,
                    0.8,
                    0.8,
                    '../../assets/backgrounds/bg-image-3.webp'
    );
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  }
