 .logo__container{
     &:hover{
         cursor: pointer;
     }
 }
.nav__logo {
     width: 5rem;
 }
.span__title{
    font-size: 4.2rem;
    font-weight: 800;
    letter-spacing:-2px;
    transition: all 0.2s ease-in-out;
}


.logo__container__words{
    margin-left: -0.3rem;
}

.span__title-marlon, .span__title-io{
    color: var(--color-black);
}
.span__title__marlon-hover, .span__title__io-hover{
    color: var(--color-gold-4);
}

.span__title-dev{
    color: var(--color-gold-4);
}
.span__title__dev-hover{
    color: var(--color-black)
}

.span__title-dot{
    color: var(--color-green-puppy-4);
}

.span__title-light{
    color: var(--color-green-light);
}
