.button {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  @apply rounded-2xl transition-all duration-100 ease-in-out hover:-translate-y-0.5 
    active:-translate-y-[-10] active:shadow-sm;
}

.primary {
  @apply bg-color-gold-3 transition-colors duration-500 ease-in-out hover:bg-gradient-to-gold;
  cursor: pointer;
}

.secondary {
  @apply shadow-inset-green-pre-hover transition-shadow duration-700 ease-in-out hover:text-green-900 hover:shadow-inset-green-post-hover-large;
  cursor: pointer;
}

.arrowButton {
  composes: button;
  @apply hover:scale-150;
}

.prev {
}

.next {
}

.backButton {
  composes: arrowButton;
}
