@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 1.6rem;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

/* Base font size: 62.5% */

/* Mobile devices */
/* Base font size: 62.5% */

/* Global Styles */

/* Mobile devices */
@media (max-width: 480px) {
    h1 {
        font-size: calc(4rem + 0.39vw);
    }

    /* Starts larger but not too overwhelming */
    h2 {
        font-size: calc(3.5rem + 0.39vw);
    }

    h3 {
        font-size: calc(3.17rem + 0.39vw);
    }

    h4 {
        font-size: calc(2.2rem + 0.39vw);
    }

    h5 {
        font-size: calc(1.8rem + 0.39vw);
    }

    h6 {
        font-size: calc(1.7rem + 0.39vw);
    }

    p {
        font-size: calc(1.6rem + 0.39vw);
    }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: calc(5rem + 0.39vw);
    }

    h2 {
        font-size: calc(4.5rem + 0.39vw);
    }

    h3 {
        font-size: calc(4.17rem + 0.39vw);
    }

    h4 {
        font-size: calc(3.2rem + 0.39vw);
    }

    h5 {
        font-size: calc(2.2rem + 0.39vw);
    }

    h6 {
        font-size: calc(2rem + 0.39vw);
    }

    p {
        font-size: calc(1.6rem + 0.39vw);
    }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: calc(6rem + 0.39vw);
    }

    h2 {
        font-size: calc(5.5rem + 0.39vw);
    }

    h3 {
        font-size: calc(5.17rem + 0.39vw);
    }

    h4 {
        font-size: calc(4.2rem + 0.39vw);
    }

    h5 {
        font-size: calc(3.2rem + 0.39vw);
    }

    h6 {
        font-size: calc(2.5rem + 0.39vw);
    }

    p {
        font-size: calc(1.6rem + 0.39vw);
    }
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
    h1 {
        font-size: calc(7rem + 0.39vw);
    }

    h2 {
        font-size: calc(6.5rem + 0.39vw);
    }

    h3 {
        font-size: calc(6.17rem + 0.39vw);
    }

    h4 {
        font-size: calc(5.2rem + 0.39vw);
    }

    h5 {
        font-size: calc(4.2rem + 0.39vw);
    }

    h6 {
        font-size: calc(3.2rem + 0.39vw);
    }

    p {
        font-size: calc(1.6rem + 0.39vw);
    }
}

/* Extra large screens, TV */
@media (min-width: 1201px) {
    h1 {
        font-size: calc(8rem + 0.39vw);
    }

    /* Largest size for clarity and impact */
    h2 {
        font-size: calc(7.5rem + 0.39vw);
    }

    h3 {
        font-size: calc(7.17rem + 0.39vw);
    }

    h4 {
        font-size: calc(6.2rem + 0.39vw);
    }

    h5 {
        font-size: calc(4.2rem + 0.39vw);
    }

    h6 {
        font-size: calc(3.2rem + 0.39vw);
    }

    p {
        font-size: calc(1.6rem + 0.39vw);
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
