@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-black: 5, 5, 5;
  --color-green-light: 87, 255, 198;

  --color-green-1: 0, 208, 98;
  --color-green-2: 0, 156, 74;
  --color-green-3: 5, 135, 67;
  --color-green-4: 0, 77, 36;
  --color-green-5: 0, 71, 33;

  --color-gold-1: 246, 201, 96;
  --color-gold-2: 234, 168, 12;
  --color-gold-3: 199, 144, 10;
  --color-gold-4: 184, 134, 12;
  --color-gold-5: 171, 123, 3;

  --color-light-grey: 211, 211, 211;

  --item1-transform: translate(-100%, -5%) scale(1.5);
  --item1-filter: blur(30px);
  --item1-z-index: 11;
  --item1-opacity: 0;

  --item2-transform: translate(0, 0);
  --item2-filter: blur(0);
  --item2-z-index: 10;
  --item2-opacity: 1;

  --item3-transform: translate(50%, 10%) scale(0.8);
  --item3-filter: blur(10px);
  --item3-z-index: 9;
  --item3-opacity: 1;

  --item4-transform: translate(90%, 20%) scale(0.5);
  --item4-filter: blur(30px);
  --item4-z-index: 8;
  --item4-opacity: 1;

  --item5-transform: translate(120%, 30%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-z-index: 7;
  --item5-opacity: 0;
  /* =============================================
                           SHADOWS
    * ============================================ */
  --shadow-inset-gold-pre-hover: inset 0 0 2px 2px rgb(var(--color-gold-1));
  --shadow-inset-gold-post-hover: inset 0 0 25px 25px rgb(var(--color-gold-1));

  --shadow-inset-gold-post-hover--large: inset 0 0 100px 100px
    rgb(var(--color-gold-1));

  --shadow-inset-green--pre-hover: inset 0 0 2px 2px
    rgb(var(--color-green-light));

  --shadow-inset-green--post-hover: inset 0 0 25px 25px
    rgb(var(--color-green-light));

  --shadow-inset-green--post-hover--large: inset 0 0 100px 100px
    rgb(var(--color-green-light));

  --color-green-5-alpha: rgba(var(--color-green-5), 0.4);
  --color-black-alpha: rgba(var(--color-black), 0.6);
}

html {
  font-size: 62.5%;
  background-color: black;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-scrollbar: none;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  font-size: 1.6rem;
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(var(--color-light-grey));
}
a {
  color: inherit;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}
/* Base font size: 62.5% */

/* Mobile devices */
/* Base font size: 62.5% */

/* Global Styles */

/* Mobile devices */
@media (max-width: 480px) {
  h1 {
    font-size: calc(4rem + 0.39vw);
  }

  /* Starts larger but not too overwhelming */
  h2 {
    font-size: calc(3.5rem + 0.39vw);
  }

  h3 {
    font-size: calc(3.17rem + 0.39vw);
  }

  h4 {
    font-size: calc(2.2rem + 0.39vw);
  }

  h5 {
    font-size: calc(1.8rem + 0.39vw);
  }

  h6 {
    font-size: calc(1.7rem + 0.39vw);
  }

  p {
    font-size: calc(1.6rem + 0.39vw);
  }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: calc(5rem + 0.39vw);
  }

  h2 {
    font-size: calc(4.5rem + 0.39vw);
  }

  h3 {
    font-size: calc(4.17rem + 0.39vw);
  }

  h4 {
    font-size: calc(3.2rem + 0.39vw);
  }

  h5 {
    font-size: calc(2.2rem + 0.39vw);
  }

  h6 {
    font-size: calc(2rem + 0.39vw);
  }

  p {
    font-size: calc(1.6rem + 0.39vw);
  }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: calc(6rem + 0.39vw);
  }

  h2 {
    font-size: calc(5.5rem + 0.39vw);
  }

  h3 {
    font-size: calc(5.17rem + 0.39vw);
  }

  h4 {
    font-size: calc(4.2rem + 0.39vw);
  }

  h5 {
    font-size: calc(3.2rem + 0.39vw);
  }

  h6 {
    font-size: calc(2.5rem + 0.39vw);
  }

  p {
    font-size: calc(1.6rem + 0.39vw);
  }
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  h1 {
    font-size: calc(7rem + 0.39vw);
  }

  h2 {
    font-size: calc(6.5rem + 0.39vw);
  }

  h3 {
    font-size: calc(6.17rem + 0.39vw);
  }

  h4 {
    font-size: calc(5.2rem + 0.39vw);
  }

  h5 {
    font-size: calc(4.2rem + 0.39vw);
  }

  h6 {
    font-size: calc(3.2rem + 0.39vw);
  }

  p {
    font-size: calc(1.6rem + 0.39vw);
  }
}

/* Extra large screens, TV */
@media (min-width: 1201px) {
  h1 {
    font-size: calc(8rem + 0.39vw);
  }

  /* Largest size for clarity and impact */
  h2 {
    font-size: calc(7.5rem + 0.39vw);
  }

  h3 {
    font-size: calc(7.17rem + 0.39vw);
  }

  h4 {
    font-size: calc(6.2rem + 0.39vw);
  }

  h5 {
    font-size: calc(4.2rem + 0.39vw);
  }

  h6 {
    font-size: calc(3.2rem + 0.39vw);
  }

  p {
    font-size: calc(1.6rem + 0.39vw);
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
