.sidebar {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $color-green-light;
  color: $color-black;
  z-index: 1000;
  .bg {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40rem;
    background-color: $color-green-light;
  }
}
