.navigation-bar {
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-hidden {
    animation: showNav 1.5s ease-in-out;
}
.nav__list {
gap: 2rem;
    align-items: center;
}
.nav__list a{
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    transition: all 0.4s ease-in-out;
    &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-green-light);
        transition: all 0.4s ease-in-out;
    }
    &:hover {
            color: var(--color-gold-1);
            &:after {
                width: 100%;
            }
    }
}

.light {
    background-color: var(--color-green-light);

}

.dark {
    background: linear-gradient(to bottom,  var(--color-gold-3),var(--color-black));
}

@keyframes showNav {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
